---
import type { Code, Debug } from "astro:components";
import { COURSES } from "./InfoCard";
import InfoCard from '@components/InfoCard.astro';
---

<section class="max-w-[1024px] mx-auto mb-40">
  <h2 class="text-[3.125rem] font-semibold text-[#001c2c] dark:text-[#009AA6] text-center">34 CARRERAS EN:</h2>
  <span class="w-10 h-[14px] rounded-[7px] bg-[#69BE28] block mx-auto"></span>
  <div class="grid grid-cols-3 grid-rows-2 gap-4 pt-20 mb-10">
    {
      COURSES.map(course => (
        <InfoCard {...course}/>
      ))
    }
  </div>
  <div class="flex justify-center">
    <a class="py-2 px-6 border-[#001c2c] border-[2px] rounded-full font-bold text-sm hover:text-white hover:bg-[#001c2c] text-[#001c2c]">VER TODAS LAS CARRERAS</a>
  </div>
  
</section>