---
import Carousel from "@components/Carousel.astro";
import { SHORTCOURSES } from "./InfoCard";
---
<section class="relative overflow-hidden">
  <div class="max-w-[1024px] mx-auto  relative z-[80]">
    <h2 class="text-[3.125rem] font-semibold text-[#001c2c] dark:text-[#009AA6] text-center">CURSOS CORTOS</h2>
    <span class="w-10 h-[14px] rounded-[7px] bg-[#69BE28] block mx-auto mb-10"></span>
    <Carousel CARDS={SHORTCOURSES} len='w-[1896px]'/>
    <div class="flex justify-center mt-10 pb-10">
      <a class="py-3 px-8 border-[#001c2c] border-[1px] rounded-full font-semibold text-sm hover:text-white hover:bg-[#001c2c] text-[#001c2c]">VER TODOS LOS CURSOS CORTOS</a>
    </div>
  </div>
  <div class="bg-[#009AA6] absolute h-[400px] w-full overflow-hidden bottom-[-200px] z-[1] rounded-tl-[300px] transform scale-105"></div>
</section>