---
import Courses from '@components/Main/Courses.astro';
import Layout from '../layouts/Layout.astro';
import SliderMain from '@components/Main/SliderMain.astro';
---

<Layout title="Welcome to Astro.">
  <SliderMain />
    <h1 class="text-[3.125rem] font-semibold text-[#001c2c] text-center py-10">INSTITUTO CIBERTEC</h1>
    <Courses />
</Layout>
